@import "../config/varibles";

.login-button {
  background-color: $color-blue;
  border: none;
  border-radius: 76px;
  width: 450px;
  height: 60px;
  color: $color-white;
  font-size: $font-size-m;
  font-weight: bold;
  font-family: $font-family-segoe;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    scale: 1.05;
  }
}

.navbar-button {
  background-color: $color-white;
  border: none;
}

.tweet-button {
  width: 230px;
  height: 55px;
  margin: 0 0 0 -25px;
}
