$font-family-roboto: "Roboto";
$font-family-segoe: "Segoe UI";
$font-size-sm: 16px;
$font-size-m: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-2xl: 42px;

$color-blue: #1da1f2;
$color-white: #ffffff;
